[submodule "ips/timer_module"]
	path = ips/timer_module
	url = git@github.com:Panda-Cores/timer_module.git
[submodule "ips/load_store_unit"]
	path = ips/load_store_unit
	url = git@github.com:Panda-Cores/load_store_unit.git
[submodule "ips/wishbone"]
	path = ips/wishbone
	url = git@github.com:Panda-Cores/wishbone.git
[submodule "ips/debug_module"]
	path = ips/debug_module
	url = git@github.com:Panda-Cores/debug_module.git
[submodule "ips/caches"]
	path = ips/caches
	url = git@github.com:Panda-Cores/caches.git
[submodule "ips/gpio_module"]
	path = ips/gpio_module
	url = git@github.com:Panda-Cores/gpio_module.git
